<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright (c) 2025 天启雨数科技有限公司
  All rights reserved.
  注意：
  本项目源代码由天启雨数科技有限公司原创开发，版权所有。
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aryn.cloud.user.mapper.SocialAccountMapper">

    <select id="selectByAppId" resultType="com.aryn.cloud.user.api.vo.SocialAccountVO">
        SELECT
            social_account.id,
            social_account.type,
            social_account.app_id,
            social_account.app_secret,
            social_account.create_time,
            social_account.update_time,
            social_account.del_flag,
            social_account.create_by,
            social_account.update_by,
            social_account.tenant_id
        FROM
            social_account AS social_account
        WHERE social_account.app_id = #{appId}
          AND social_account.del_flag = '0'
    </select>

    <!-- 权威绑定查询：仅限 MiniAppBindingResolver 登录校验使用；别名 sa、参数绑定、最小绕过范围 -->
    <select id="selectValidWxMaByAppId" resultType="com.aryn.cloud.user.api.entity.SocialAccount">
        SELECT
            sa.id,
            sa.type,
            sa.app_id,
            sa.app_secret,
            sa.create_time,
            sa.update_time,
            sa.del_flag,
            sa.create_by,
            sa.update_by,
            sa.tenant_id
        FROM
            social_account AS sa
        WHERE sa.app_id = #{appId}
          AND sa.type = 'WX_MA'
          AND sa.del_flag = '0'
    </select>

    <!-- 后台维护全局重复预检：仅限 SocialAccountServiceImpl 使用 -->
    <select id="countValidWxMaByAppIdExcluding" resultType="long">
        SELECT COUNT(*)
        FROM social_account AS sa
        WHERE sa.app_id = #{appId}
          AND sa.type = 'WX_MA'
          AND sa.del_flag = '0'
          <if test="excludeId != null and excludeId != ''">
              AND sa.id != #{excludeId}
          </if>
    </select>

    <select id="selectSocialAccountById" resultType="com.aryn.cloud.user.api.vo.SocialAccountVO">
        SELECT
            social_account.id,
            social_account.type,
            social_account.app_id,
            social_account.app_secret,
            social_account.create_time,
            social_account.update_time,
            social_account.del_flag,
            social_account.create_by,
            social_account.update_by,
            social_account.tenant_id
        FROM
            social_account AS social_account
        WHERE social_account.id = #{id}
          AND social_account.del_flag = '0'
    </select>
    <select id="selectSocialAccountPage" resultType="com.aryn.cloud.user.api.vo.SocialAccountVO">
        SELECT
            social_account.id,
            social_account.type,
            social_account.app_id,
            social_account.app_secret,
            social_account.create_time,
            social_account.update_time,
            social_account.del_flag,
            social_account.create_by,
            social_account.update_by,
            social_account.tenant_id
        FROM
            social_account AS social_account
        <where>
            AND social_account.del_flag = '0'
            <if test="model.type != null and model.type != ''">
                AND social_account.type = #{model.type}
            </if>
            <if test="model.appId != null and model.appId != ''">
                AND social_account.app_id = #{model.appId}
            </if>
        </where>
    </select>
</mapper>