<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright (c) 2025 天启雨数科技有限公司
  All rights reserved.
  注意：
  本项目源代码由天启雨数科技有限公司原创开发，版权所有。
 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aryn.cloud.order.delivery.mapper.OrderDeliveryTaskMapper">
    <select id="selectByTenantAndOrderId"
            resultType="com.aryn.cloud.order.api.delivery.entity.OrderDeliveryTask">
        SELECT task.*
        FROM order_delivery_task AS task
        WHERE task.tenant_id = #{tenantId}
          AND task.order_id = #{orderId}
          AND task.del_flag = '0'
        LIMIT 1
    </select>
</mapper>
